<html>
<head>
    <title>Flask To Do List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <h1>To Do List</h1>
    <div id="todos"><p>Loading</div>
    <div>
        <form>
            <input name="todo" type="text">
            <input type="submit" value="Add To Do" onClick="addToDo()">
        </form>
    </div>
    <script>
        $(document).ready(function() {
            readToDo()
        })

        function readToDo() {
            $.get("http://127.0.0.1:5000/todo/", function(data) {
                $("#todos").empty()
                $.each(data.todo, function(key, value) {
                    $("#todos").append("<p id=\"" + key + "\">" + key + ": <input type=\"text\" name=\"" + key + "\" value=\"" + value + "\">" + " <a href=\"#\" onClick=\"updateToDo(" + key + ")\">[update]</a> <a href=\"#\" onClick=\"deleteToDo(" + key + ")\">[complete]</a></p>")
                })
            })
        }

        function addToDo() {
            $.ajax({
                url: "http://127.0.0.1:5000/todo/",
                method: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({"name": $('input[name=todo]').val()})
            })
            event.preventDefault()
            readToDo()
        }

        function updateToDo(id) {
            $.ajax({
                url: "http://127.0.0.1:5000/todo/" + id,
                method: "PUT",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({"name": $('input[name=' + id + ']').val()})
            })
            event.preventDefault()
            readToDo()
        }

        function deleteToDo(id) {
            $.ajax({
                url: "http://127.0.0.1:5000/todo/" + id,
                method: "DELETE"
            }).done(function() {
                $("#" + id).remove()
            })
        }
    </script>
</body>
</html>
